.header{
    height: 100px;
    background-position: center;
    background-size: 100% 100%;
    color: white;
    background-color: skyblue;
}

.brand-name{
  font-size: x-large;
  text-decoration: none;
}

.header-user-name{
  color: black;
}

.logo{
  height: 100px;
  width: 250px;
}

.title-container{
    margin-right: 50%;
    color: rgba(255, 255, 255, 0.699);
    font-size: 2em;
    color: black;
}

.nav li{
    display: inline;
    margin-left: 20px;
    
  }

.nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.877);
    font-weight: bold;
  }
