.search-form{
    background-color: blanchedalmond;
    width: 300px;
    height: 200px;
    margin: 15px 10px;
    border: 1 px solid red;
    border-radius: 3px;
}

.leaflet-container{
    margin: 20px 0;
    height: 400px;
    width: 1000px;
    border: 1px solid black;
    border-radius: 3px;
}

.date{
    float: left;
    margin-right: 10px;
}
.afterSearch{
    color: white;
    border: black;
    width: 300px;
    height: 400px;
    border: 2px solid rgb(26, 81, 184);
    border-radius: 3px;
}